<!-- The loading-area will be where we display a message during the AJAX call. This way, the user knows something is happening in the background.-->
<div id="loading-area" class="load" style="display:none;">
    <div class='alert alert-info'><strong>Sending...</strong></div>
</div>

<!-- The message-area will be where we display a message after the AJAX call about whether or not the contact form was successfully sent-->
<div id="message-area"></div>
