@{
    ViewBag.Title = "About us";]
}

<div class="row header">
    <div class="col-xs-12">
        <h2>@ViewBag.Title.</h2>
    </div>
    <div class="col-md-5">
        <img src="~/Images/gym6.jpg" alt="gym" class="about-image" />
    </div>
    <div class="col-md-7">
        <h2 class="purple-text">Power</h2>
        <p class="extra-large-text">"Power is what separates good athletes from the great, and the great from the legendary.</p>
        <p class="extra-large-text">Power is maximized by producing large amounts of force in the shortest amount of time possible.</p>
        <p class="extra-large-text">Force is the product of mass and acceleration.</p>
        <p class="extra-large-text">Therefore we do not simply move barbells and other weighted resistances, but we move them as fast as possible.</p>
        <p class="extra-large-text">This type of training quickly equates to success in every competition."</p>
    </div>
</div>

<div class="row grey">
    <div class="col-xs-12">
        <h2 class="purple-text">Our Training Philosophy</h2>
        <p>We run a full-service program focusing on strength, power, speed, agility, conditioning, flexibility, recovery, nutrition, as well as injury prevention and management.</p>
        <p>Athletes are given `training maxes' and work off certain percentages of these maxes each week.</p>
        <p>All programs are periodized with training percentages varying each week so that athletes will reach their goals within each given cycle.</p>
        <p>Each athletes progress will be tracked to measure progress. Strength programs are created before each training cycle and are directed so that the athlete can clearly understand and follow the exercises for each training session.</p>
        <p>Strength, speed, agility and conditioning are all tailored to the needs of each sport and each student athlete.</p>
        <p>Flexibility, recovery, nutrition and injury prevention are incorporated into all team training programs.</p>
    </div>
</div>

<div class="row light-grey">
    <div class="col-md-1"></div>
    <div class="col-md-6">
        <img src="~/Images/gym18.jpg" alt="" class="about-image" />
    </div>
    <div class="col-md-4">
        <h2 class="purple-text">Pricing</h2>
        <ul>
            <li>
                <h4><span class="glyphicon glyphicon-ok"></span> 1 on 1 Training</h4>
                <p class="tab-right"><span class="glyphicon glyphicon-minus"></span> Personal Training ($350.00)</p>
                <p class="tab-righter">12 classes</p>
            </li>
            <li>
                <h4><span class="glyphicon glyphicon-ok"></span> Strength Training</h4>
                <p class="tab-right"><span class="glyphicon glyphicon-minus"></span> Contract 1 year EFT ($50.00)</p>
                <p class="tab-righter">Unlimited classes</p>
            </li>
            <li>
                <p class="tab-right"><span class="glyphicon glyphicon-minus"></span> Non-Contract Month - Month ($70.00)</p>
                <p class="tab-righter">Unlimited classes</p>
            </li>
            <li>
                <p class="tab-right"><span class="glyphicon glyphicon-minus"></span> Family +3 Contract 1 Year ($150.00)</p>
                <p class="tab-righter">Unlimited classes</p>
            </li>
            <li>
                <p class="tab-right"><span class="glyphicon glyphicon-minus"></span> Contract 1 year Paid in Full ($600.00)</p>
                <p class="tab-righter">Unlimited classes</p>
            </li>
            <li>
                <p class="tab-right"><span class="glyphicon glyphicon-minus"></span> Life Time Member ($5,000.00)</p>
                <p class="tab-righter">Unlimited classes</p>
            </li>
            <li>
                <h4><span class="glyphicon glyphicon-ok"></span> Youth- High School</h4>
                <p class="tab-right"><span class="glyphicon glyphicon-minus"></span> GPP/ SSP Training ($300.00)</p>
                <p class="tab-righter">12 classes per month</p>
            </li>
        </ul>
        <a class="btn btn-lg btn-primary" href="https://wickhamathletics.sites.zenplanner.com/sign-up-now.cfm">Sign Up</a>
    </div>
    <div class="col-md-1"></div>
</div>
