@{
    ViewBag.Title = "Home Page";
}

<div class="row header-image">
    <div class="col-xs-12">
        <h1>Welcome to Wickham Athletics</h1>
    </div>
    <div class="col-md-4">
        <p class="lead">
            5626 SW Topeka Blvd, Suite A
            Topeka, Kansas 66609
        </p>
        <p class="large-body-text">
            Monday - Friday 3pm - 8pm
        </p>
        <p class="large-body-text">
            Saturday 9am - 2pm
        </p>
    </div>
    <div class="col-md-4">
        <h2>Ryan</h2>
        <p class="large-body-text">
            785.383.3490
        </p>
        <p class="large-body-text">
            ryan@wickhamathletics.com
        </p>
    </div>
    <div class="col-md-4">
        <h2>Jimmy</h2>
        <p class="large-body-text">
            785.615.8040
        </p>
        <p class="large-body-text">
            jimmy@wickhamathletics.com
        </p>
    </div>
</div>

<div class="row light-grey">
    <div class="col-xs-12">
        <h2 class="purple-text">Mission Statement</h2>
        <p class="large-body-text">
            The overall goal of the Wickham Athletics and the Speed and Strength Conditioning Program we implement is to provide our competitive athletes the means by which they develop attitude, work ethic, mental toughness, discipline and pride, in-self and our gym and their teammates and the team.
        </p>
        <p class="large-body-text">    
            Ultimately we want to improve athletic performance, decrease the likelihood of injuries and increase mental and physical toughness. Our goals are accomplished by utilizing sport specific movements, free-weight, ground based, multi-joint movements in an environment of positive reinforcement, good communication and constant encouragement. We believe Strength, Speed and Conditioning is the key to a successful athletic career at Wickham Athletics. We are always searching, developing and implementing new strategies to give us the cutting edge to achieving these goals.
        </p>
    </div>
    <div class="col-xs-12">
        <h2 class="purple-text">Vision Statement</h2>
        <p class="large-body-text">
            Wickham Athletics as a whole is about creating opportunity. My goal is to create an atmosphere where any individual can learn and adapt to our core values so that in return we can make that person successful for life.
            For years to come our facility will produce the top athletes out of the Northeast Kansas region for preparation on all college levels.
            My vision is to make Wickham Athletics the strongest gym in Kansas!
        </p>
    </div>
</div>

<div class="row">
    <div class="col-xs-12 top-space">
        <ul class="bxslider">
            <li><img src="~/Images/logo.jpg" class="jumbo-logo" /></li>
            <li><img src="~/Images/front_view.jpg" /></li>
            <li><img src="~/Images/gym16.jpg" /></li>
            <li><img src="~/Images/gym17.jpg" /></li>
            <li><img src="~/Images/gym10.jpg" /></li>
            <li><img src="~/Images/gym11.jpg" /></li>
            <li><img src="~/Images/gym19.jpg" /></li>
            <li><img src="~/Images/gym20.jpg" /></li>
            <li><img src="~/Images/gym21.jpg" /></li>
            <li><img src="~/Images/gym22.jpg" /></li>
            <li><img src="~/Images/gym23.jpg" /></li>
        </ul>
    </div>
</div>

<div class="row light-grey">
    <div class="col-md-6">
            <h2>Primary benefits of strength training children/adolescents</h2>
            <ul>
                <li><span class="glyphicon glyphicon-ok"></span> Increased muscular strength & local muscular endurance</li>
                <li><span class="glyphicon glyphicon-ok"></span> Improved sport performance</li>
                <li><span class="glyphicon glyphicon-ok"></span> Prevention of sport injuries</li>
                <li><span class="glyphicon glyphicon-ok"></span> Development of lifelong exercise habits</li>
                <li><span class="glyphicon glyphicon-ok"></span> Teaches discipline, core values, work ethic</li>
            </ul>
        </div>
        <div class="col-md-6">
            <h2>Class Objectives</h2>
            <ul>
                <li><span class="glyphicon glyphicon-ok"></span> Construct a strong foundation of strength and speed</li>
                <li><span class="glyphicon glyphicon-ok"></span> Apply resistance training to generate power</li>
                <li><span class="glyphicon glyphicon-ok"></span> Improve body coordination, jumping ability and balance</li>
                <li><span class="glyphicon glyphicon-ok"></span> Promote a healthy lifestyle</li>
            </ul>
        </div>
</div>
    @Scripts.Render("~/Scripts/jquery.bxslider.min.js")
    <script>
        $(document).ready(function () {
            $('.bxslider').bxSlider();
        });
    </script>
