
@{
    ViewBag.Title = "Jimmy";
}
<div class="row grey">
    <div class="col-xs-12">
        <h2>Jimmy Brittelli <span class="purple-text">Manager/Head Coach</span></h2>
    </div>
    <div class="col-md-6">
        <img src="@Url.Content("~/Images/gym5.jpg")" alt="Jimmy" class="bio-image" />
    </div>
    <div class="col-md-6">
        <h3>Background</h3>
        <ul class="grey">
            <li><p><span class="glyphicon glyphicon-ok"></span> Navy Veteran</p></li>
            <li><p><span class="glyphicon glyphicon-ok"></span> Middle Weight Strongman Athlete</p></li>
            <li><p><span class="glyphicon glyphicon-ok"></span> Olympic Weightlifter</p></li>
            <li><p><span class="glyphicon glyphicon-ok"></span> MMA Fighter</p></li>
            <li><p><span class="glyphicon glyphicon-ok"></span> Blue Belt in American BJJ & Brazilian BJJ</p></li>
        </ul>
    </div>
</div>
<div class="row light-grey top-space">
    <div class="col-md-12">
        <h3>Experience</h3>
        <h4>Strongman</h4>
    </div>
    <div class="col-md-6">
        <ul>
            <li><p><span class="glyphicon glyphicon-ok"></span> Kansas Strongest Man 2015 2nd place 242 lbs</p></li>
            <li><p><span class="glyphicon glyphicon-ok"></span> Florida State Strongman Championships (Novice) 2008 2nd place</p></li>
            <li><p><span class="glyphicon glyphicon-ok"></span> Support Your Troops Strongman Challenge (Novice) 2008 2nd place</p></li>
            <li><p><span class="glyphicon glyphicon-ok"></span> Strongman in the Swamps 2008 4th place</p></li>
            <li><p><span class="glyphicon glyphicon-ok"></span> The Dock Strongman 2008 1st place</p></li>
            <li><p><span class="glyphicon glyphicon-ok"></span> Topeka's Strongest Man 2009 7th place</p></li>
        </ul>
    </div>
    <div class="col-md-6">
        <ul>
            <li><p><span class="glyphicon glyphicon-ok"></span> Europa Strongman Show of Champions 2009 9th place</p></li>
            <li><p><span class="glyphicon glyphicon-ok"></span> Emerald Coasts Strongest Man 2009 1st place</p></li>
            <li><p><span class="glyphicon glyphicon-ok"></span> Southeast Georgia's Strongest Man 2009 1st place</p></li>
            <li><p><span class="glyphicon glyphicon-ok"></span> Florida State Strongman Championships 2010 2nd place</p></li>
            <li><p><span class="glyphicon glyphicon-ok"></span> Kansas Strongest Man 2010 4th place</p></li>
        </ul>
    </div>
</div>
<div class="row light-grey">
    <div class="col-md-6">
        <h4>Weightlifting Meets</h4>
        <ul>
            <li><p><span class="glyphicon glyphicon-ok"></span> MILLERSV. PA 2010</p><p class="tab-right">Class-105+ | Bdy Wt-131.21 | SN-101.0 | CJ-125.0 | Total-226.00</p></li>
            <li><p><span class="glyphicon glyphicon-ok"></span> ECG WEIGHTLIFTING CAMP MEET BEAUFORT SC 2010</p><p class="tab-right">Class-105+ | Bdy Wt-138.00 | SN-110.0 | CJ-130.0 | Total-240.00</p></li>
            <li><p><span class="glyphicon glyphicon-ok"></span> TEAM BEAUFORT FALL CLASSIC DENVER CO 2011</p><p class="tab-right">Class-105+ | Bdy Wt-138.80 | SN-118.0 | CJ-136.0 | Total-254.00</p></li>
            <li><p><span class="glyphicon glyphicon-ok"></span> FRCF WINTER MEET DENVER CO 2011</p><p class="tab-right">Class-105+ | Bdy Wt-139.00 | SN-120.0 | CJ 142.0 | Total-262.0</p></li>
        </ul>
    </div>
    <div class="col-md-6">
        <h4>MMA/BJJ</h4>
        <ul>
            <li><p><span class="glyphicon glyphicon-ok"></span> Heavyweight/Light Heavyweight MMA Fighter  Record 5-4      4 First Rd Ko's</p></li>
            <li><p><span class="glyphicon glyphicon-ok"></span> Wichita LaSilva BJJ Open Tournament</p></li>
            <li><p class="tab-right">Gold Medal White Belt Absolute NO-GI (no weight classes)</p></li>
            <li><p class="tab-right">Gold Medal White Belt 205+ Class GI/NO-GI</p></li>
            <li><p><span class="glyphicon glyphicon-ok"></span> 2015 KC Revgear World Open BJJ Tournament</p></li>
            <li><p class="tab-right">Bronze Medal White Belt GI</p></li>
            <li><p class="tab-right">Bronze Medal No-GI Intermediate Absolute</p></li>
            <li><p><span class="glyphicon glyphicon-ok"></span> 2016 KU Invitational BJJ Tournament</p></li>
            <li><p class="tab-right">Gold Medal GI</p></li>
            <li><p class="tab-right">Gold Medal NO-GI</p></li>
            <li><p><span class="glyphicon glyphicon-ok"></span> 2016 St. Joseph Open BJJ Tournament</p></li>
            <li><p class="tab-right">Gold Medal GI</p></li>
        </ul>
    </div>
</div>
