
@{
    ViewBag.Title = "Ryan";
}
<div class="row header dark-header">
    <div class="col-xs-12">
        <h2>Ryan Wickham <span class="purple-text">Owner/Head Coach</span></h2>
    </div>
    <div class="col-md-3">
        <img src="@Url.Content("~/Images/gym3.jpg")" alt="Ryan" class="bio-image" />
    </div>
    <div class="col-md-9">
        <p class="">
            "For the last ten years I’ve successfully started my journey into the fitness industry at Pinnacle 
            Gym under Brandon Decker, who is an incredible bodybuilder and more importantly a terrific coach and 
            friend. I furthered my passion moving up to Lawrence, KS in 2011 and met Thomas and Kyle Thatcher, 
            owners of Crossfit Lawrence. They provided a new outlook on training schemes as well as learning 
            the Olympic movements and proper mobility training.
        </p>
        <p>
            I’ve recently been introduced to powerlifting back in December 2013 under strength coach Phil 
            Stevens with Strength Guild . He helped me build a stronger foundation into the proper cues and 
            techniques of functional movement. I’m truly grateful for the friendships I’ve developed the past 
            10 years and this is just the beginning.
        </p>
        <p>
            My overall goal is to provide a sound training facility that will make Wickham Athletics the 
            strongest gym in Northeast Kansas. The plan is to equip our youth, high school and college athletes 
            with the optimal training programs that will eventually take them into the next level of their 
            sport."
        </p>
    </div>
</div>
<div class="row light-grey">
    <div class="col-md-6">
        <h3>Credentials</h3>
        <ul>
            <li><p><span class="glyphicon glyphicon-ok"></span> ISSA Certified</p></li>
            <li><p><span class="glyphicon glyphicon-ok"></span> CPR Certified</p></li>
            <li><p><span class="glyphicon glyphicon-ok"></span> Currently working on the Special Strengths cert. under Louis Simmons, Westside barbell.</p></li>
        </ul>
        <img src="~/Images/gym7.jpg" alt="Ryan 2" class="about-image" />
    </div>
    <div class="col-md-6">
        <h3>Experience</h3>
        <ul>
            <li><p><span class="glyphicon glyphicon-ok"></span> 2012 Crossfit July 4th Throw down Competition C&J 122kg Snatch 102kg</p></li>
            <li><p><span class="glyphicon glyphicon-ok"></span> 2013 NAPA Kansas City Bodybuilding Championship</p></li>
            <li><p class="tab-right">| 1st place overall mens novice</p></li>
            <li><p class="tab-right">| 1st place mens novice  198 division</p></li>
            <li><p><span class="glyphicon glyphicon-ok"></span> 2014 USSF Winter Powerlifting Meet</p></li>
            <li><p class="tab-right">| 5th place 220 division</p></li>
            <li><p><span class="glyphicon glyphicon-ok"></span> 2014 USSF Nationals Powerlifting Meet</p></li>
            <li><p class="tab-right">| 10th place 220 division</p></li>
            <li><p><span class="glyphicon glyphicon-ok"></span> 2015 Driven Fitness Push/Pull Meet</p></li>
            <li><p class="tab-right">| 2ndplace 220 division</p></li>
        </ul>
    </div>
</div>


