
@{
    ViewBag.Title = "Testimonials";
}

<div class="row header">
    <h2>Testimonials</h2>

</div>

<div class="row grey">
    <div class="col-md-3"></div>
    <div class="col-md-3">
        <img src="~/Images/jackson.jpg" alt="Jackson Murray" class="about-image" />
    </div>
    <div class="col-md-3">
        <h2>Jackson Murray</h2>
        <h3>Senior Shawnee Heights High School</h3>
        <p>"I began training with Ryan the spring of my freshman year. Immediately
         I noticed Ryan's determination and love for athletics. </p>
    
        <p>During the summer before my sophomore year, I ended up tearing my right 
        anterior cruciate ligament at a football camp. I was disappointed but Ryan 
        assured me that he'd have me back faster and stronger than before. And that's
         exactly what he did. </p>
    
        <p>The physical therapy I did with Ryan helped 
        me to recover and still get stronger. Around the time I tore my ACL, I was 
        squatting around 335. A year later, I put nearly 100 pounds on my squat. Since 
        then, I've watched and experienced Wickham Athletics grow into an awesome 
        strength and athletic facility. Wickham Athletics and the people who train 
        there have changed my life. The people are all great and they all know quite 
        a bit about athletic training and the science behind it." </p>
    </div>
    <div class="col-md-3"></div>
</div>

<div class="row light-grey">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <h2>Wyatt Hubert</h2>
        <p>Wickham Athletics is easily the strongest gym in Topeka. This gym pushes me to my 
            limits everyday and shows me great work ethic, dedication, mental toughness, and the 
            urge to achieving your goals which is a big reason why I'm continuing to play football
            at the next level at Kansas State, is because these morals and values that I've learned
            from this gym. Ive learned so much through this gym about strength training, dieting, and
            the human body as a whole. If you want to succeed and achieve your goals, this is the gym
            that will benefit you the most guaranteed.
        </p>
    </div>
    <div class="col-md-3"></div>
</div>

