
@{
    ViewBag.Title = "Videos";
}

<div class="row header">
    <div class="col-xs-12">
        <h2>Videos</h2>
    </div>
    <iframe width="1380" height="720" src="https://www.youtube.com/embed/xc2eafw7Jr4?list=RDxc2eafw7Jr4" frameborder="0" allowfullscreen></iframe>
</div>

